html {
    /* primary theme color. This will affect the entire websites color scheme: links, arrows, labels, ... */
    --primary-color: #0e6876;
    --primary-dark-color: #0e6876;
    --primary-light-color: #4896a1;
    --on-primary-color: #ffffff;

    /* page base colors */
    --page-background-color: #ffffff;
    --page-foreground-color: #213f4b;
    --page-secondary-foreground-color: #6f7e8e;
}

.github-corner svg {
    fill: var(--primary-light-color);
    color: var(--page-background-color);
    width: 72px;
    height: 72px;
}

@media screen and (max-width: 767px) {
    .github-corner svg {
        width: 50px;
        height: 50px;
    }
}

#projectname {
    color: #51595d
}
/* 
#MSearchBox {
    margin-right: 200px;
} */